 @font-face{
        font-family:Ex;
        src: url(Cookie-Regular.ttf);
    }
    #top {
        height: 15px; 
        background-image: url(box-widget-bg-01.png); 
        background-repeat: no-repeat; 
        margin-top: 25px;
    }
    #middle {
        padding: 20px 30px 20px 30px; 
        background-image: url(box-widget-bg-02.png);
    }
    #bottom {
        height: 15px; 
        background-image: url(box-widget-bg-03.png); 
        background-repeat: no-repeat;
    }
    span.name
    {
        font-family: Ex;
        float: left;
        margin-right: 150px; 
        font-size: 55px; 
        width: 221px; 
        height: 110px; 
        background-image:url(logo-bg.png); 
        background-repeat: no-repeat;
        padding-top: 25px;
        color: white;
    }
    .but {
        font-size: 17px;
        float: left;
        width: 50px;
        margin-right: 45px; 
        height: 40px;
        color: white;
    }
    #left{
        float: left;
        width: 15px;
        height: 65px;
        background-image: url(menu-active-bg-01.png);
        background-repeat: no-repeat;
    }
    #curr{
        float: left;
        width: 50px;
        height: 65px;
        background-image: url(menu-active-bg-02.png);
        background-repeat: repeat-x;
    }
    #right{
        float: left;
        width: 15px;
        height: 65px;
        margin-right: 30px;
        background-image: url(menu-active-bg-03.png);
        background-repeat: no-repeat;
    }
    #post {
        height: 30px;
        width: 280px;
        text-align: left; 
        align-items:baseline; 
        display: block;
        margin-top: 20px;
        position: absolute;
    }
    #postbig {
        height: 170px;
        width: 550px;
        border-radius: 5px;
    }
    #posttext{
        text-align: left; 
        align-items:baseline; 
        position: absolute;
        color: white;
        font-size: 15px;
        margin-top: 25px;
        margin-left: 25px;
    }
    #lorem
    {
        display: block; 
        text-align: left; 
        margin-left: 25px; 
        font-size:30px;
        padding-top: 20px;
        color: #5e372c;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    #posttext2{
        display: block; 
        text-align: left; 
        font-size: 12px;
        width: 550px;
        margin-left: 23px;
        line-height: 20px;
        color: #804b3d;
    }
    #lastpost
    {
        height: 60px; 
        width: 550px; 
        margin-left: auto; 
        margin-right: auto; 
        text-align: center; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        background-image: url(page-wrapper-bg.png);
        border-radius: 5px;
    }
    #lasttext
    {
        margin-top: auto;
        margin-bottom: auto;
        float: left;
        color: #804b3d;
        font-size: 15px;
        margin-left: 15px;
        margin-right: 200px;
    }
    #comm{
        margin-top: auto;
        margin-bottom: auto;
        float: left;
        color: #804b3d;
        font-size: 15px;
        margin-right: 15px;
    }
    #sb1, #sb2 {
        height: 15px;
        width: 300px;
    }
    #sbpost {
        text-align: left; 
        align-items:baseline; 
        display: block;
        position: absolute;
        height: 30px;
        width: 330px;
        margin-top: 20px;
    }
    #sba {
        width: 270px;
        text-align: left; 
        align-items:baseline; 
        display: block;
        position: absolute;
        font-size: 15px;
        margin: 55px 20px 20px 20px;
        color: #d4ab9f;
    }
    #rec {
        width: 300px;
        text-align: left; 
        align-items:baseline; 
        display: block;
        position: absolute;
        font-size: 14px;
        margin: 10px 10px 20px 20px;
        color: white;
    }
    #line {
        text-align: left; 
        align-items:baseline; 
        display: block;
        position: absolute;
        width: 260px;
        size: 3px;
        color: #301c16;
        margin: 70px 7px 20px 20px;
    }